<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <httpRuntime maxRequestLength="1048576" maxUrlLength="10000" maxQueryStringLength="2097151" />
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1073741824" maxQueryString="100000000" maxUrl="10000" />
                <!-- only allow GET,POST verbs -->
                <verbs allowUnlisted="false" applyToWebDAV="true">
                    <add verb="GET" allowed="true" />
                    <add verb="POST" allowed="true" />
                </verbs>
                <hiddenSegments>
                    <add segment="includes" />
                    <add segment="usertmp" />
                    <add segment="logs" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <rule name="Redirect To Index" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html />
                </rule>
            </rules>
        </rewrite>
       
    </system.webServer>
</configuration> 

